<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an Anime</title>
</head>
<body>
    <h1>Add an Anime</h1>
    <form method="POST" action="/anime">
        <label id="title"></label>
        <input type="text" placeholder="title" name="title" id="title">
        <label id="rating"></label>
        <input type="text" placeholder="rating" name="rating" id="rating">
        <label id="releaseYear"></label>
        <input type="text" placeholder="releaseYear" name="releaseYear" id="releaseYear">
        <label id="genre"></label>
        <input type="text" placeholder="genre" name="genre" id="genre">
        <button>Submit</button>
    </form>
</body>
</html>